resources/drawables/launcher_icon.png filter=lfs diff=lfs merge=lfs -text
resources/fonts/AsapCondensed-Bold.ttf filter=lfs diff=lfs merge=lfs -text
resources/fonts/AsapCondensed-Light.ttf filter=lfs diff=lfs merge=lfs -text
resources/fonts/AsapCondensed-Bold-80.png filter=lfs diff=lfs merge=lfs -text
resources/fonts/AsapCondensed-Light-40.png filter=lfs diff=lfs merge=lfs -text
resources/graphics filter=lfs diff=lfs merge=lfs -text
resources/graphics/01-01.png filter=lfs diff=lfs merge=lfs -text
resources/graphics/08-28.png filter=lfs diff=lfs merge=lfs -text
resources/graphics/12-00.png filter=lfs diff=lfs merge=lfs -text
resources/graphics/EnglishTimeCapture.png filter=lfs diff=lfs merge=lfs -text
resources/graphics/EnglishTimeHero.png filter=lfs diff=lfs merge=lfs -text
resources-round-260x260/fonts/AsapCondensed-Bold-74.png filter=lfs diff=lfs merge=lfs -text
resources/graphics/EnglishHero[[:space:]]1.png filter=lfs diff=lfs merge=lfs -text
resources-round-218x218/fonts/AsapCondensed-Bold-62.png filter=lfs diff=lfs merge=lfs -text
resources-round-240x240/fonts/AsapCondensed-Bold-69.png filter=lfs diff=lfs merge=lfs -text
resources-round-240x240/fonts/AsapCondensed-Light-34.png filter=lfs diff=lfs merge=lfs -text
resources-round-360x360/fonts/AsapCondensed-Light-51.png filter=lfs diff=lfs merge=lfs -text
resources-round-416x416/fonts/AsapCondensed-Light-59.png filter=lfs diff=lfs merge=lfs -text
resources-round-454x454/fonts/AsapCondensed-Bold-130.png filter=lfs diff=lfs merge=lfs -text
resources/graphics/EnglishHero[[:space:]]2.png filter=lfs diff=lfs merge=lfs -text
resources-round-218x218/fonts/AsapCondensed-Light-31.png filter=lfs diff=lfs merge=lfs -text
resources-round-280x280/fonts/AsapCondensed-Bold-80.png filter=lfs diff=lfs merge=lfs -text
resources-round-280x280/fonts/AsapCondensed-Light-40.png filter=lfs diff=lfs merge=lfs -text
resources/graphics/EnglishHero[[:space:]]3.png filter=lfs diff=lfs merge=lfs -text
resources-round-260x260/fonts/AsapCondensed-Light-37.png filter=lfs diff=lfs merge=lfs -text
resources-round-360x360/fonts/AsapCondensed-Bold-103.png filter=lfs diff=lfs merge=lfs -text
resources-round-390x390/fonts/AsapCondensed-Bold-111.png filter=lfs diff=lfs merge=lfs -text
resources-round-390x390/fonts/AsapCondensed-Light-56.png filter=lfs diff=lfs merge=lfs -text
resources-round-416x416/fonts/AsapCondensed-Bold-119.png filter=lfs diff=lfs merge=lfs -text
resources-round-454x454/fonts/AsapCondensed-Light-65.png filter=lfs diff=lfs merge=lfs -text
resources-semi-octagon-176x176/fonts/AsapCondensed-Light-25.png filter=lfs diff=lfs merge=lfs -text
resources-semi-octagon-176x176/fonts/AsapCondensed-Bold-50.png filter=lfs diff=lfs merge=lfs -text
resources-semi-round-215x180/fonts/AsapCondensed-Light-26.png filter=lfs diff=lfs merge=lfs -text
resources-rectangle-148x205/fonts/AsapCondensed-Light-21.png filter=lfs diff=lfs merge=lfs -text
resources-rectangle-240x240/fonts/AsapCondensed-Bold-69.png filter=lfs diff=lfs merge=lfs -text
resources-rectangle-240x240/fonts/AsapCondensed-Light-34.png filter=lfs diff=lfs merge=lfs -text
resources-rectangle-148x205/fonts/AsapCondensed-Bold-42.png filter=lfs diff=lfs merge=lfs -text
resources-rectangle-320x360/fonts/AsapCondensed-Bold-91.png filter=lfs diff=lfs merge=lfs -text
resources-semi-round-215x180/fonts/AsapCondensed-Bold-51.png filter=lfs diff=lfs merge=lfs -text
resources-rectangle-320x360/fonts/AsapCondensed-Light-46.png filter=lfs diff=lfs merge=lfs -text
